{% extends "layout.html" %}

{% block title %}
    Change password
{% endblock %}

{% block body %}
    {% if error %}
    <p class=error><strong>Error:</strong> {{ error }}
    {% endif %}
  <form method=post>
    <dl>
      <dt>Current username:
        <dd><input type=text name=username value="{{
            request.form.username }}">
      <dt>Current password:
      <dd><input type=password name=password>
        
        <dt>New password:
        <dd><input type=password name=password2>

        <dt>Confirm new password:
        <dd><input type=password name=password3>
    </dl>
    <p><input type=submit value=Change password>
  </form>
{% endblock %}